:root {
  --primary-purple-color: #330068;
  --primary-orange-color: #ff7f00;
  --primary-white-color: #ffffff;
  --secondary-purple-color: #6200E2;
  --secondary-purple-lighter-color: #B6A6DD;
  --secondary-orange-color: #FFBE83;
  --aditional-dark-grey-color: #b5b5b5;
  --aditional-lighter-grey-color: #e2e2e2;
  --aditional-light-grey-color: #f4f4f4;
}